rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /couples/ahmed-nour-2026/{document=**} {
      allow read, write: if request.auth != null;
    }

  }
}
